.stepper{
  margin: auto;
  margin-top: 2%;
  width: 80%;
}

.error_message{
  color: red;
}

.formGroup{
  margin: auto;
  margin-top: 2%;
  width: 21%;
  min-width: 280px;
  max-width: 280px;
}

.formField{
  width: 100%;
}

.previousButtons{
  margin-right: 35.5%;
}
