.stepper{
  margin: auto;
  margin-top: 2%;
  width: 80%;
}

.error_message{
  color: red;
}

.buttons{
  margin-left: 41%;
  margin-top: 2%;
}

.formGroup{
  margin-top: 5%;
  margin-left: 41%;
  margin-right: 40%;
}

.formField{
  width: 100%;
}

.done{
  margin-top: 7%;
  text-align: center;
}

.previousButtons{
  margin-right: 35.5%;

}
